@import "common.css";
img{
	width:250px;
	height:200px;
	margin-right: 3%;
	display:inline-block;
}
#up_img{
	margin-left: 30px;
	margin-top: 4%;
	display: inline-block;
}
#down_img{
	margin-left: 30px;
	margin-top: 4%;
	display: inline-block;
}
#frame{
	margin-left: 200px;
}
