@import "common.css";
#ble{
	width:400px;
	height: 300px;
	border-style:solid;
	border-width:1px;
	margin-top: 5%;
 	border-color:black;
}

#scd{
	width:400px;
	height: 300px;
	border-style:solid;
	border-width:1px;
	margin-top: 5%;
 	border-color:black;
 	display: inline-block;
}

.txt{
	width:400px;
	height: 200px;
	text-align: center;
	border-style:solid;
	border-width:1px;
	border-color:black;

}

.box{
	border-style:solid;
	border-width:1px;
	border-color:black;
}
.frame{
	float: left;
}